:root {
  color-scheme: light dark;
  --box-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.redraw-form {
  display: flex;
}

.slider-group {
  display: inline-flex;
  gap: .75rem;
}

#tick {
  max-width: 50dvw;
  width: 16rem;
}

.slider-display {
  width: 1.2rem;
}

#main-grid {
  display: grid;
}

.grid-box {
  border: 1px solid gray;
}

.activated {
  background-color: red;
}

@media (prefers-color-scheme: dark) {

  .grid-box {
    border-color: hsl(0, 0%, 15%);
  }

}