:root {
  color-scheme: light dark;
  --box-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--box-size));
}

.grid-box {
  width: var(--box-size);
  height: var(--box-size);
  border: 1px solid gray;
}


@media (prefers-color-scheme: dark) {

  .grid-box {
    border-color: hsl(0, 0%, 15%);
  }

}